@font-face {
    font-family: univers;
    src: url(../font/univers/UniversLTStd.otf);
    font-weight: normal;
}
@font-face {
    font-family: univers;
    src: url(../font/univers/UniversLTStd-Light.otf);
    font-weight: 100;
}
@font-face {
    font-family: univers;
    src: url(../font/univers/UniversLTStd-Bold.otf);
    font-weight: bold;
}
body {
    font-family: univers;
    overflow: hidden;
}
a, a:hover {
    text-decoration: none;
}
.btn {
    color: white;
    font-size: 9px;
    font-weight: bold;
    background: #f53812;
    width: 70px;
    height: 25px;
    text-align: center;
}
.flex-container {
    display: flex;
}

.tm-container-large {
    max-width: 1200px;
    margin: auto;
}

.uk-container {
    padding: 0 50px;
}
.uk-block {
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-form {
    max-width: 400px;
}
.contact-form h5 {
    font-size: 14px;
}
.contact-form form input, #comments .uk-form-controls input {
    width: 95%;
    border: none;
    border-bottom: solid 1px #d0d0d0;
    padding: 5px;
    margin-bottom: 30px;
    font-size: 11px;
}
.contact-form form input:focus {
    outline-color: white;
}
.contact-form form .btn-send {
    width: 60px;
    float: right;
    border-radius: 16px;
}
.contact-form form .btn-send:hover {
    color: white;
}
.contact-form .description {
    font-size: 11px;
    line-height: 20px;
}
.blog-container {
    width: 100%;
    padding-right: 100px;
}

.blog-list {
    margin-right: 100px;
}

.blog-image-container {
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
    z-index: 1;
}

.blog-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.blog-image img {
    width: 100%;
    height: auto;
}

.blog-content {
    position: relative;
    margin: -70px 70px 0 70px;
    z-index: 2;
    background: white;
    padding: 30px 40px;
}

.article-title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #3e3e3e;
}

.article-content {
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -0.7px;
    color: #676767;
}

.blog-header {
    position: relative;
}

.blog-header .action {
    position: absolute;
    width: 70px;
    top: 100%;
    right: 0;
}
.action p {
    text-align: center;
    font-weight: bold;
}
.action .btn {
    text-transform: uppercase;
}
.action .date {
    font-size: 30px;
    margin-bottom: 0;
    color: #a1a1a1;
}

.action .month-year {
    font-size: 9px;
    margin-top: 0;
    color: #a1a1a1;
}
.uk-article+.uk-article {
    border-top: none;
}
.ads {
    margin-top: 100px;
}
.ads .article-image {
    margin-top: 20px;
}
.pagination-container {
    position: relative;

}
.pagination-container .uk-pagination {
    padding: 0 20px;
    display: inline-block;
    background: white;
    position: relative;
    z-index: 2;
}
.pagination-container .sticker {
    position: absolute;
    width: 200vw;
    height: 1px;
    background: #d9d9d9;
    left: -100vw;
    z-index: 1;
    bottom: 42px;
}
.pagination-container .uk-pagination>.uk-active>span {
    color: #f53812;
}
.pagination-container .uk-pagination>li>a {
    color: #a1a1a1;
}
.pagination-container .uk-pagination>li {
    font-size: 14px;
}
.blog-detail-container {

}
.blog-detail-container .blog-header {
    width: 100%;
    height: 400px;
    position: absolute;
    background-image: url(../img/blog_back.jpg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 400px;
    z-index: 1;
}
.blog-detail-container .blog-detail {
    margin-top: -50px;
    z-index: 2;
}
.blog-detail-container article {
    max-width: 900px;
}
.blog-header .link-container {
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: auto;
    position: relative;
}
.blog-header .link {
    position: absolute;
    bottom: 25px;
    max-width: 200px;
    width: 100%;
}
.blog-header .link p {
    margin: 0;
    font-size: 14px;
}
.blog-header .link .date {
    margin-bottom: 10px;
}
.blog-header .link .content {
    line-height: 18px;
    margin-bottom: 15px;
    color: white;
}
.icon {
    width: 30px;
    height: 30px;
    background-position: 0 0 ;
    background-size: 30px 30px;
}
.icon-left {
    background-image: url('../img/left.png');
}
.icon-right {
    background-image: url('../img/right.png');
}
.icon-comment {
    background-image: url('../img/comment.png');
    background-position: 0 -3px;
}
.icon-down {
    background-image: url('../img/down.png');
    background-position: 0 -3px;
}
.icon-facebook {
    background-image: url('../img/facebook.png');
}
.icon-twitter {
    background-image: url('../img/twitter.png');
}
.blog-header .link .icon-left {
    float: right;
}
.blog-header .link .icon-right {
    float: left;
}
.blog-header .left-link {
    right: 100%;
    text-align: right;
}
.blog-header .right-link {
    left: 100%;
    text-align: left;
}
.blog-detail .uk-article-title {
    font-size: 35px;
    width: 50%;
    margin-bottom: 40px;
}
.blog-detail .blog-detail-stick {
    width: 100%;
    height: 2px;
    background: #e5e5e5;
}
.blog-detail .blog-detail-stick:before {
    content: '';
    background: #a0a0a0;
    width: 190px;
    height: 2px;
    float: left;
}
.blog-detail .blog-detail-content {
    padding: 45px 0 0 40px;
    display: inline-flex;
}
.blog-meta {
    margin-right: 150px;
    text-align: right;
}
.blog-meta p {
    margin: 0;
}
.blog-meta .date {
    width: 150px;
    font-size: 16px;
}
.blog-meta .author {
    font-size: 11px;
    margin-bottom: 20px;
}
.blog-meta .n-comments {
    font-size: 16px;
    color: #69c4d7;
    display: inline-flex;
}
.blog-meta .author span {
    color: #69c4d7;
}
.blog-detail .contact-form-space {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    position: relative;
}
.blog-detail .contact-form-container {
    width: 100vw;
    height: 500px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    background-image: url('../img/blog_contact_back.jpg');
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;

}
.contact-form-container .label h2 {
    font-size: 30px;
    color: white;
}
.contact-form-container .label p {
    font-size: 18px;
    color: white;
}
.wrap-container {
    width: 100%;
    max-width: 1020px;
    margin: auto;
}
.wrap-container > div {
    box-sizing: border-box;
    padding: 120px 60px;
    width: 50%;
    float: left;
}
.contact-form-space .contact-form-effect {
    box-shadow: 0 0 50px 5px #888;
    z-index: 1;
}
.blog-detail .contact-form {
    background: white;
    padding: 80px 50px;
}
.blog-detail .contact-form h2 {
    font-size: 38px;
    color: #f53812;
    margin-bottom: 10px;
}
.blog-detail .contact-form p {
    margin: 0 0 35px 0;
}
.blog-detail .contact-form form input {
    margin-bottom: 20px;
    color: #636363;
}
.blog-detail .contact-form form input::-webkit-input-placeholder {
    color: #636363;
}
.blog-detail .contact-form form input:-moz-placeholder {
    color: #636363;
    opacity:  1;
}
.blog-detail .contact-form form input::-moz-placeholder {
    color: #636363;
    opacity:  1;
}
.blog-detail .contact-form form input:-ms-input-placeholder {
    color: #636363;
}
.label .phone-image {
    position: absolute;
    left: 0;
    padding: 25px 30px 40px 120px;
    box-sizing: border-box;
    width: 50%;
}
.blog-detail .contact-form form .btn-send {
    margin-top: 50px;
    font-size: 13px;
    padding: 4px 15px;
    line-height: 29px;
    width: initial;
}
.absolute-dialog {
    position: absolute;
    width: 400px;
    height: 600px;
    left: calc(50% + 60px);
    top: -50px;

}
.uk-comment-primary {
    background: white;
}
.blog-detail #comments {
    margin-top: 200px;
}
.uk-comment-list > .comment-user {
    border-top: 2px solid #e1e1e1;
    padding-left: 200px;
}
.comment-sticker {
    position: absolute;
    border-top: 2px solid #e1e1e1;
    width: 100%;
    left: 0;
}
#comments {
    position: relative;
}
#comments .caption {
    font-size: 20px;
    color: #3e3e3e;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #9d9d9d;
    margin-bottom: -2px;
    display: inline-block;
}
#comments .header {
    padding-left: 200px;
    margin: 0;
}
#comments .uk-comment-list {
    margin-top: 0;
}
#comments .header .right {
    float: right;
    display: inline-flex;
}
#comments .header .right p {
    margin: 0;
}
#comments article {
    padding: 50px 0 30px 0;
}
#comments .uk-comment-avatar {
    margin-left: -65px;
    margin-right: 0;
}
#comments .uk-comment-list .uk-comment+ul {
    margin-top: 0;
}
#comments .uk-comment-list .uk-comment+ul article {
    padding-top: 0;
}
#comments .reply-btn {
    display: inline-flex;
    float: right;
    margin: 0;
}
#comments .reply-btn a {
    font-size: 10px;
    color: #959595;
    font-weight: bold;
}
#comments .uk-comment-header {
    margin-bottom: 15px;
}
#comments .uk-comment-body p{
    color: #636363;
    font-size: 12px;
}
.reply-btn .icon-down {
    margin: 0;
    margin-left: -10px;
}
#comments .meta-container {
    display: inline-block;
}
#comments .uk-comment-list>li:nth-child(n+2),
#comments .uk-comment-list .uk-comment+ul>li:nth-child(n+2) {
    margin-top: 0;
}
#comments .uk-comment-title {
    font-size: 13px;
    color: #3e3e3e;
}
#comments .uk-comment-meta {
    font-size: 10px;
    color: #959595;
}
#comments .js-comment-reply .uk-h4 {
    margin: 0;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: solid 2px #9d9d9d;
    margin-bottom: -2px;
    position: relative;
    z-index: 1;
}
#comments .main-reply {
    padding-left: 200px;
}
#comments .reply-container {
    padding-right: 100px;
}
#comments .uk-form-controls .info-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}
#comments .uk-form-controls input {
    width: 100%;
    font-size: 10px;
    height: 20px;
}
#comments .uk-form-controls input::-webkit-input-placeholder {
    color: #414141;
}
#comments .uk-form-controls input:-moz-placeholder {
    color: #414141;
    opacity:  1;
}
#comments .uk-form-controls input::-moz-placeholder {
    color: #414141;
    opacity:  1;
}
#comments .uk-form-controls input:-ms-input-placeholder {
    color: #414141;
}
#comments .uk-form-controls .info-container input {
    width: 50%;
}
#comments .info-container input:first-child  {
    margin-right: 50px;
}
#comments .btn-comment {
    border-radius: 18px;
    border: none;
    font-size: 13px;
    padding: 5px 15px;
    line-height: 20px;
    height: 33px;
    width: 119px;
    margin-right: 10px;
}
#comments .btn-container {
    display: flex;
}
#comments .comment-description {
    margin: 0;
    width: 200px;
    font-size: 9px;
    line-height: 12px;
    padding: 5px;
}
#comments .comment-description a {
    color: #f53812;
}
.uk-navbar-content, .uk-navbar-brand, .uk-navbar-toggle {
    height: 50px;
}
.uk-navbar-nav>li>a {
    height: 50px;
    line-height: 50px;
    font-size: 11px;
}
.tm-footer {
    background: white;
}
.tm-footer .uk-container {
    border-top: 1px solid #d0d1d3;
    padding-top: 10px;
}
.tm-footer .uk-container .socials {
    float: right;
    margin-right: -50px;
    margin-top: 0;
}
.tm-footer .uk-container .link {
    float: left;
}
.tm-footer .uk-container .link li a {
    color: #414141;
    font-size: 11px;
}
.tm-footer .uk-container .socials li {
    padding-left: 0px;
}
@media (min-width: 1220px) {
    .tm-navbar .uk-container {
        max-width: 1000px;
    }
    .tm-footer .uk-container {
        max-width: 900px;
    }
}

@media (min-width: 768px) {
    .uk-article+.uk-article {
        margin-top: 70px;
        padding-top: 0;
    }
    .uk-comment-list .uk-comment+ul {
        padding-left: 65px;
    }
    .tm-footer {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

@media (max-width: 1440px) {
    .blog-header .link .date, .blog-header .link .content {
        display: none;
    }
}
@media (max-width: 1024px) {
    .blog-header .link {
        width: initial;
    }
    .blog-header .left-link {
        top: 10px;
        left: 80px;

    }
    .blog-header .right-link {
        top: 10px;
        left: 100px;

    }
    .blog-detail-container .blog-header {
        background-image: none;
    }
    .blog-detail .uk-article-title {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .blog-detail .blog-detail-content {
        display: initial;
    }
    .blog-meta {
        display: inline-flex;
        margin-top: 30px;

    }
    .blog-meta > * {
        margin-right: 20px;
    }
    .wrap-container .label {
        display: none;
    }
    .wrap-container > div {
        width: 400px;
    }
    .absolute-dialog {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 768px) {
    .uk-comment-list > .comment-user {
        padding-left: 80px;
    }
    #comments .main-reply {
        padding-left: 80px;
    }
    /*.blog-detail .blog-image {*/
        /*left: -50px;*/
        /*width: 100vw;*/
        /*height: 300px;*/
        /*overflow: hidden;*/
    /*}*/
    .blog-image-container {
        width: 100vw;
        padding-bottom: 50vw;
        margin-left: -50px;
    }
    .flex-container {
        display: block;
    }
    .blog-list {
        margin-right: 0;
    }
    .blog-header .action {
        right: -50px;
    }
    .blog-content {
        margin: -70px 20px 0 20px;
    }
    .article-title {
        font-size: 18px;
    }
    /*.blog-detail .uk-article-title {*/
        /*margin-top: 150px;*/
    /*}*/
}